@import "~highlight.js/styles/atom-one-dark.css";

.main {
  display: block;
  padding-bottom: 50px;

  .main-inner {
    .content-wrap {
      .content {
        .article-block {
          margin-top: 0;
          opacity: 1;
          display: block;
          transform: translateY(0px);

          .article-header {
            .article-title {
              color: #636b6f;
              font-size: 1.75em;
              font-weight: 500;
              text-align: left;
              line-height: 1.225;
              word-break: break-word;
              position: relative;
            }

            .article-title-link {
              display: inline-block;
              position: relative;
              color: #555;
              border-bottom: none;
              line-height: 1.2;
              vertical-align: top;
              text-decoration: none;
              word-wrap: break-word;
            }
            .article-title-link::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #000;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              -moz-transform: scaleX(0);
              -ms-transform: scaleX(0);
              -o-transform: scaleX(0);
              transform: scaleX(0);
              transition-duration: 0.2s;
              transition-timing-function: ease-in-out;
              transition-delay: 0s;
            }
            .article-title-link:hover::before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1);
            }
          }

          .article-meta {
            margin: 3px 0 30px 0;
            color: #999;
            font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
            font-size: 12px;
            text-align: left;

            .article-meta-item-icon {
              margin-right: 3px;
            }

            .article-meta-divider {
              margin: 0 0.5em;
            }

            .page-pv {
              display: inline-block;
            }

            a {
              color: #555;
              text-decoration: none;
              border-bottom: 1px solid #999;
              word-wrap: break-word;
            }
            a:hover {
              color: #222;
              border-bottom-color: #222;
            }
          }

          .article-detail .article-title,
          .article-detail .article-meta {
            text-align: center;
            line-height: 2;
          }
          .article-detail .article-title:before {
            display: none;
          }
          .article-detail .article-meta {
            margin-bottom: 60px;
          }

          .article-content {
            text-align: justify;
            font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;

            blockquote {
              border-left: 2px solid #9e9e9e;
              background: #F6F6F6;
              font-size: 1em;
              line-height: 1.8;
            }
          }

          .article-button {
            margin-top: 20px;
            text-align: left;

            a {
              font-size: 16px;
              margin: 0 8px 8px 0 !important;
              padding: 0;
              color: #666;
              background: none;
              border: none;
              border-bottom: 2px solid #666;
              transition-property: border;
            }
            a:hover {
              border-bottom-color: #222;
            }

            .btn {
              border-radius: 0;
              display: inline-block;
              text-decoration: none;
              transition-duration: 0.2s;
              transition-timing-function: ease-in-out;
              transition-delay: 0s;
            }
            .btn:hover {
              border-color: #222;
              color: #222;
              background: #fff;
            }
          }

          .article-footer {
            margin-bottom: 120px;

            .article-tags {
              text-align: left;
              margin-top: 40px;

              a {
                padding: 1px 5px;
                background: #f5f5f5;
                border-bottom: none;
                display: inline-block;
                margin-right: 10px;
                font-size: 13px;
                color: #555;
                text-decoration: none;
                word-wrap: break-word;
              }
              a:hover {
                background: #ccc;
              }
            }

            blockquote {
              padding: 0 15px;
              margin: 0;
              color: #666;
              border-left: 4px solid #ddd;
            }
          }
        }

        .article-divider {
          margin-bottom: 250px;

          .label {
            font-size: .6875rem;
            font-family: Miriam Libre,sans-serif;
            letter-spacing: .2em;
            line-height: 1em;
            text-transform: uppercase;
            color: #636b6f;
            font-weight: 700;
            margin-bottom: .5rem;
          }

          .label.label--divider {
            display: block;
            text-align: center;
            position: relative;
          }

          .label.label--divider:before {
            display: block;
            content: "";
            background-color: #e8e8e8;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-1px);
          }

          .label.label--divider span {
            background-color: #fff;
            position: relative;
            z-index: 100;
            padding: 0 .9375rem;
          }
        }
      }
    }
  }
}

ul.nav-tabs {
  border: none;
}
ul.nav-tabs li a {
  color: #636b6f;
  display: block;
  padding: 3px 2px 3px 15px;
  font-size: 14px;
  line-height: 1.2;
}
ul.nav-tabs li.active {
  background: #eaeaea;
  border-left: 2px solid #16A085;
}
ul.nav-tabs li.active a,
ul.nav-tabs li.active a:hover {
  color: #16A085;
  border: none;
  border-radius: 0;
  background-color: #eaeaea;
  text-decoration: none;
}
ul.nav-tabs li a:hover {
  border: none;
  border-radius: 0;
  background-color: #fff;
  text-decoration: underline #16A085;
}
.section-h2 {
  margin-left: 0;
}
.section-h3 {
  margin-left: 20px;
}
.section-h4 {
  margin-left: 40px;
}
.section-h5 {
  margin-left: 60px;
}
.section-h6 {
  margin-left: 80px;
}