html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #555;
  background: #fff;
}

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #16A085;
  margin-bottom: 50px;
  margin-top: 0;

  .navbar-brand {
    padding: 25px 18px;
    height: 70px;
    font-weight: 700;
    color: #222;
    font-size: 1.4em;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #222;
    background-color: transparent;
  }

  .navbar-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-nav {
    margin-left: 28px;

    li > a {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .dropdown-menu {
      background-color: #fff;
      color: inherit;
      padding: 0;
      min-width: 120px;

      li > a {
        color: inherit;
        border-bottom: 1px solid #d8d8d8;
        line-height: 2.3;
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        white-space: nowrap;
      }

      .fa {
        margin-right: 16px;
      }
    }
  }

  .header-search {
    position: absolute;
    transition: width 0.25s ease;
    display: inline-block;
    margin: 15px 0 0 165px;
    vertical-align: middle;

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #999;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    input {
      width: 250px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #666;
  text-align: center;
  font-size: .6875rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  background-color: #525252;

  .wrapper {
    padding-left: 40px;
    padding-right: 40px;

    .footer__nav {
      margin: 27px auto;

      ol {
        list-style: none;
        padding-left: 0;
      }
      li {
        display: inline-block;
        margin: 3px 15px;
      }
    }

    .footer__tribute {
      color: #fff;
      margin-top: 30px;
      padding-top: 32px;
      margin-bottom: 27px;
      position: relative;
    }
    .footer__tribute:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 50px;
      height: 2px;
      background-color: hsla(0,0%,100%,.2);
      transform: translatex(-50%);
      -webkit-transform: translatex(-50%);
    }

    a {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
    }
    a:hover {
      color: #f4645f;
    }
  }
}

.nav-pagination {
  margin-bottom: 220px;
  text-align: center;

  .pagination {
    .active {
      span {
        background-color: #717171;
        border-color: #717171;
      }
    }
  }

  .pagination > li > a {
    color: #555;
  }
  .pagination > li > a:hover {
    color: #222;
  }
}